# Development environment files
.vscode/
.cache/
compile_commands.json

# Build artifacts
build*/
tmp/

# Render outputs
outputs/
assets/**/*render*png

# Random log/save/backup files
*.ini
*.bak
*.log
*.tmp
callgrind.out.*
vgcore.*

# Don't ask...
src/format

assets/scenes/golf/golf_in_the_end.bin
