# Development environment files
.vscode/
.cache/
compile_commands.json

# Build artifacts
build*/
tmp/

# Render outputs
outputs/

# Random log/save/backup files
*.ini
*.bak
*.log
callgrind.out.*

# Don't ask...
src/format

# Only default configs
assets/config/*
!assets/config/default.json
!assets/config/fast.json
