# Development environment files
.vscode/
.cache/
compile_commands.json

# Build artifacts
build*/
tmp/

# Render outputs
outputs/
assets/**/*_render*

# Random log/save/backup files
*.ini
*.bak
*.log
callgrind.out.*
vgcore.*

# Don't ask...
src/format
